:root{
    --color-primario:#011627;
    --color-secundario:#ff0000;
    --color-terciario:#f6f6f6;
    --tipografia-titulos:"Krona One", sans-serif;
    --tipografia-parrafos:'Montserrat',sans-serif;
    }
    
    